/* 颜色主题 */
/* TODO: 去除硬编码 */

html {
    --bg1-color: #fcf0e1;
    --bg1-color-transparent: #fcf0e1B0;
    --bg2-color: #c7a085;
    --fg1-color: #3a1b19;
    --fg2-color: #7b595e;
    --icon-color: #c94737;
}

html.dark {
    --bg1-color: #3a1b19;
    --bg1-color-transparent: #3a1b19D0;
    --bg2-color: #7b595e;
    --fg1-color: #fcf0e1;
    --fg2-color: #c7a085;
    --icon-color: #c94737;
}

/* 页面 */

html {
    background-color: var(--bg1-color);
    color: var(--fg1-color);
    font-family: sans-serif;
}

body {
    background-color: var(--bg1-color-transparent);
    padding: 1rem 3rem;
    max-width: 110ch;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* 页面元素 */

a {
    color: var(--fg2-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--icon-color);
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
}

dt {
    grid-column: 1;
    font-weight: bold;
}

dd {
    grid-column: 2;
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 0.5rem;
}
