:root {
    --bg1-color-light: #fcf0e1;
    --bg2-color-light: #c7a085;
    --fg1-color-light: #3a1b19;
    --fg2-color-light: #7b595e;
    --icon-color-light: #c94737;
    --bg1-color-dark: #3a1b19;
    --bg2-color-dark: #7b595e;
    --fg1-color-dark: #fcf0e1;
    --fg2-color-dark: #c7a085;
    --icon-color-dark: #c94737;
}

html {
    background-color: var(--bg1-color-light);
    font-family: sans-serif;
}

body {
    padding: 1rem;
    max-width: 100ch;
    line-height: 1.5;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* 导航样式 */

header {
    margin-top: 0;
}

nav {
    display: flex;
}

.nav-links {
    margin: 0;
    margin-left: 0;
    display: inline-block;
    position: static;
    width: auto;
    background: none;
}

.nav-links a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--fg2-color-light);
    display: inline-block;
    padding: 5px 20px;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--icon-color-light);
}

.expanded {
    display: unset;
}

/* 暗色主题 */

html.dark {
    background-color: var(--bg1-color-dark);
    color: var(--fg1-color-dark);
}

.dark .nav-links a {
    color: var(--fg2-color-dark);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: var(--icon-color-dark);
}

/* typst 适配 */
svg.typst-doc {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
