---
import { getCollection } from "astro:content"
import BaseLayout from "/src/layouts/base-layout.astro";
import PostPreview from "/src/components/post-preview.astro"

const pageTitle = "首页";
const today = new Date();
const buildDate =
    today.getFullYear() +
    "年" +
    (today.getMonth() + 1) +
    "月" +
    today.getDate() +
    "日";
const blogs_typst = (await getCollection("typ")).sort((a, b) => b.data.pub_time_key - a.data.pub_time_key);
---

<BaseLayout pageTitle={pageTitle}>
    <h1>临江仙</h1>
    <p>更新日期：{buildDate}</p>
    <h1>最新文章</h1>
    {blogs_typst.slice(0, Math.min(5, blogs_typst.length)).map((post: any) => <PostPreview post={post} url=`/posts/${post.id}/`/>)}
</BaseLayout>
