---
import { Image } from "astro:assets";
import BackgroundImage from "./imgs/bg.png";
---

<div id="background-container">
    <Image
        id="background-image"
        src={BackgroundImage}
        alt="背景图片"
        loading="eager"
    />
</div>

<style>
    #background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: opacity 0.5s ease;
        opacity: 20%;
    }

    #background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
    }
</style>
