---

---

<footer>
    <p>&copy; 2023-2025 SolitaireMiya. All rights reserved.</p>
</footer>

<style>
    footer {
        margin-top: 50px;
    }

    p {
        color: var(--fg2-color);
        font-size: 0.8rem;
        text-align: center;
    }
</style>
