---

---

<a
    id="gitlabIcon"
    href="https://gitlab.com/rainseekwind/blog-new"
    target="_blank"
    rel="noopener noreferrer"
>
    <svg
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="3618"
        width="27px"
    >
        <path
            class="icon"
            d="M1011.2 563.2l-54.4-160-102.4-320c-3.2-9.6-6.4-16-12.8-22.4-19.2-19.2-48-19.2-67.2 0-6.4 6.4-9.6 12.8-12.8 19.2l-96 297.6h-297.6l-96-297.6c-9.6-3.2-12.8-12.8-19.2-19.2-19.2-19.2-48-19.2-67.2 0-6.4 6.4-12.8 12.8-16 22.4l-156.8 480c-9.6 28.8 0 57.6 25.6 76.8l454.4 329.6c6.4 3.2 12.8 6.4 19.2 6.4s12.8-3.2 19.2-6.4L985.6 640c22.4-16 35.2-48 25.6-76.8z m-60.8 22.4c-3.2 3.2-3.2 3.2 0 0L512 905.6 76.8 588.8s-3.2-3.2 0-3.2L217.6 144l89.6 278.4c3.2 12.8 16 22.4 32 22.4h345.6c12.8 0 25.6-9.6 32-22.4l89.6-278.4 89.6 281.6 54.4 160z"
            p-id="3619"
        >
        </path>
    </svg>
</a>

<style>
    #gitlabIcon {
        border: 0;
        background: none;
        margin-left: auto;
    }

    .icon {
        fill: var(--fg2-color);
    }

    a {
        margin: auto 0;
        padding-top: 3px;
    }
</style>
