---
import Navigation from "/src/components/navigation.astro";
import ThemeIcon from "/src/components/theme-icon.astro";
---

<header>
    <nav>
        <Navigation />
        <ThemeIcon />
    </nav>
</header>

<style>
    header {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
    }
</style>
