---
import Navigation from "/src/components/navigation.astro";
import ThemeIcon from "/src/components/theme-icon.astro";
---

<header>
    <nav>
        <Navigation />
        <ThemeIcon />
    </nav>
</header>
