---
import { Image } from "astro:assets";
import Navigation from "/src/components/navigation.astro";
import ThemeIcon from "/src/components/theme-icon.astro";
import GithubIcon from "/src/components/github-icon.astro";
import Icon from "./imgs/icon.png";
---

<header>
    <nav>
        <a href="/"
            ><div>
                <Image src={Icon} alt="临江仙" id="icon" loading="eager" />
            </div></a
        >
        <Navigation />
        <GithubIcon />
        <ThemeIcon />
    </nav>
</header>

<style>
    header {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
    }

    a {
        margin: auto 20px;
    }

    a > div {
        display: flex;
        align-items: center;
    }

    #icon {
        height: 50px;
        width: 50px;
        border-radius: 10px;
        border: 2px solid var(--fg2-color);
    }
</style>
