---
import Navigation from "/src/components/navigation.astro";
import ThemeIcon from "/src/components/theme-icon.astro";
import GitlabIcon from "/src/components/gitlab-icon.astro";
---

<header>
    <nav>
        <a href="/"><div><img src="/icon.png" alt="临江仙" /></div></a>
        <Navigation />
        <GitlabIcon />
        <ThemeIcon />
    </nav>
</header>

<style>
    header {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
    }

    a {
        margin: auto 20px;
    }

    a > div {
        display: flex;
        align-items: center;
    }

    img {
        height: 50px;
        border-radius: 10px;
        border: 2px solid var(--fg2-color);
    }
</style>
