---
import Navigation from "/src/components/navigation.astro"
import Hamburger from "/src/components/hamburger.astro"
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
