---

---

<div class="nav-links">
    <a href="/">首页</a>
    <a href="/blog/">文章</a>
    <a href="/tags/">标签</a>
    <a href="/about/">关于</a>
</div>

<style>
    .nav-links {
        margin: auto 15px;
        display: inline-block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        color: var(--fg2-color);
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 20px;
    }

    .nav-links a:hover,
    .nav-links a:focus {
        color: var(--icon-color);
    }

    .expanded {
        display: unset;
    }
</style>
