---
import Header from "/src/components/header.astro";
import Footer from "/src/components/footer.astro";
import BackgroundContainer from "/src/components/background-container.astro";
import "/src/styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <BackgroundContainer />

        <Header />

        <slot />

        <Footer />

        <script>
            import "/src/scripts/typst-compat.js";
        </script>
        <script
            async
            src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        ></script>
    </body>
</html>
